__pycache__/
*.pyc
/.idea/FourierOptionPricing.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
task.4.pdf
fourieroptionpricing.egg-info/
paper/Bozza_Pirozzi_Mocchi.pdf
paper/Fourier_Option_pricing (1).pdf
paper/Fourier_Option_pricing.pdf

mainref.tex
